body{
    background-color: rgb(46, 28, 43);
    font-family: 'Passion One', cursive;
}
.main-header{
background-color: peachpuff;
text-align: center;
border: 5px solid rgb(168, 87, 81);
padding: 20px;
border-radius: 20px;
}
.number-3{
    text-align: center;
    background-color: peachpuff;
    border: 5px solid rgb(168, 87, 81);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
}
.number-2{
    text-align: center;
    background-color: peachpuff;
    border: 5px solid rgb(168, 87, 81);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
}
.number-1{
    text-align: center;
    background-color: peachpuff;
    border: 5px solid rgb(168, 87, 81);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
}
.honorable-mentions{
    text-align: center;
    background-color: peachpuff;
    border: 5px solid rgb(168, 87, 81);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50vw;
}
.cat-img{
    margin: auto;
    margin-top: 10px;
    display: block;
}